* {
    margin: 0;
    border: 0;

    box-sizing: border-box;
}

header {
    background-color: gray;

    position: relative;

    height: 70px;
}

.imagem {
    height: 70px;
}

.menu {
    color: white;
    text-decoration: none;

    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    right: 100px;

    font-size: 24px;
}

.menu a {
    color: white;

    text-decoration: none;
}

.menu a:hover {
    font-size: 28px;
    transition: all 0.6s;
}

p {
    color: white;

    font-size: 50px;
}