.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    padding: 30px;
}

.menu {
    font-size: 24px;
}

.login {
    font-size: 24px;
}

.input {
    background-color: darkgray;
    color: black;

    font-size: 24px;
}

.subtitle {
    padding: 50px;

    font-size: 24px;
}

.title {
    padding-bottom: 30px;

    font-weight: 700;
    font-size: 60px;
}

.par {
    padding-bottom: 40px;

    font-size: 18px;
}

.learn {
    width: 25vh;
    height: 5vh;

    font-size: 18px;
}

.caixa {
    width: 25vh;
    height: 25vh;

    background-color: black;
    border: black 10px solid;
}

.cinza {
    border: gray 100px solid;
    border-radius: 90% 3% 3% 3%;

    width: 60vh;
}

footer {
    background-color: darkslategray;
}