.caixa {
    width: 25vh;
    height: 25vh;

    background-color: black;
    border: black 10px solid;

    z-index: 10;
}

.cinza {
    border: gray 100px solid;
    border-radius: 90% 3% 3% 3%;

    width: 100vh;
    height: 60vh;

    background-color: gray;

    z-index: -5;
}