* {
    margin: 0;
    border: 0;

    box-sizing: border-box;
}

.quadrado {
    height: 100px;
    width: 100px;
    color: white;
    font-size: 24px;
    margin: 8px;
}

#primeiro {
    background-color: red;

    border: 4px solid black;

    /* border-radius: 50%; */
    
    /* border-radius: 9999px 40px; */

    border-radius: 100px 40px 20px 2px;

    /* border-width: 8px 4px 2px 1px;

    border-style: solid;
    border-color: black; */

    /* border-top: 4px solid black; */

    padding: 8px 6px 4px 2px;
}

#segundo {
    background-color: blue;

    border: 4px solid black;

    position: relative;

    /* position: fixed;

    top: 8px;
    right: 0px;
    left: 400px; */
}

#segundo > p {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);
}

#terceiro {
    background-color: green;

    position: sticky;

    top: 0px;
}